/* part3 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.main-div {
  width: 100%;
  height: 100vh;
  background: blue;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;

  text-align: center;
}
.child-one {
  padding: 30px;
}
.child-two {
  padding: 30px;
}
.child-three {
  padding: 30px;
}
