.gp {
  width: 600px;
  height: 600px;
  background-color: red;
  position: absolute;
  left: 20%;
  top: 5%;
}
.pr {
  width: 400px;
  height: 400px;
  background-color: green;
  position: relative;
  left: 15%;
  top: 15%;
}
.ch {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
  left: 25%;
  top: 20%;
}
