/* @import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  /* font-family: 'Archivo', sans-serif; */
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*   font-size: 18px; */
}

:root {
  --gt: linear-gradient(
    333deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(224, 45, 253, 1) 100%
  );
}
body,
html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #cccddd;
  color: white;
}

span {
  display: inline-block;
}
ul {
  list-style-type: none;
}
.clear {
  clear: both;
}

.topperContainer {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #cccddd !important
    ;
  color: white;

  transform-style: preserve-3d;
  /*     perspective-origin:  top; */
  perspective: 15000px;
}

.back {
  /*  position: absolute; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  width: 78%;
  height: 78%;
  /*   #573C6E */
  border-radius: 25px;
  box-shadow: 0 1px 120px 0 #666666;
  color: white;
  background-color: #363636;
  transform: translateZ(-100px);
  transition: all cubic-bezier(0.34, 0.85, 0.35, 0.86) 0.45s;
  /*     opacity: 0.45; */
  perspective: 14000px;
}

.front {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: #3e2b4f;

  border-radius: 25px;
  box-shadow: 0 1px 120px 0 #666666;

  transition: all cubic-bezier(0.34, 0.85, 0.35, 0.86) 0.45s;
}

.leftSideContainer {
  position: relative;
  width: 35%;
  height: 100%;
  border-radius: 25px;
  background-image: url(https://images.unsplash.com/photo-1550236520-7050f3582da0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: calibri;
  transition: all ease-in-out 0.256s;
  transform: translateZ(500px) perspective(500px) scale(1.04);
  -webkit-transform: translateZ(500px) perspective(800px) scale(1.04);
  -o-transform: translateZ(500px) perspective(800px) scale(1.04);
  box-shadow: 0 0 8px -1px #262626;
  -webkit-box-shadow: 0 0 8px -1px #262626;
  border: none;
  float: left;
  /*   transform-style: preserve-3d;
 */

  transition: all cubic-bezier(0.34, 0.85, 0.35, 0.86) 0.45s;
}

.leftSideContainer:hover {
  transform: translateZ(500px) scale(1.08) perspective(20000px) rotateY(10deg) !important;

  -webkit-transform: translateZ(500px) scale(1.08) perspective(20000px)
    rotateY(10deg) !important;
  box-shadow: 0 0 30px -1px #262626 !important;
  -webkit-box-shadow: 0 0 30px -1px #262626 !important;

  transform-style: preserve-3d !important;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--gt);
  border-radius: 25px;
  opacity: 0.38;
}

.dateContainer {
  position: absolute;
  top: 30px;
  left: 30px;
}
.day {
  display: block;
  font-size: 40px;
  font-weight: 900;
}
.date {
  display: block;
  font-size: 18px;
   y;
}
 .month {
  padding-left: 5px;
  padding-right: 5px;
}
 
.location {
  display: inline-block;
  padding-top: 10px;
}
.pin {
  display: inline-block;
  width: auto;
  /*   padding-top: 10px; */
  margin-right: 2px;
  height: 0.8em;
}

.LilInfoContainer {
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.WeatherIcon {
  height: 100px;
  width: auto;
}
.MainDeg {
  display: block;
  font-size: 70px;
  font-weight: 900;
}

.Description {
  font-size: 1.4em;
}

.rightSideContainer {
  position: relative;
  width: 60%;
  height: 100%;
  float: left;
  margin-left: 10px;
}

.moreInfoContainer {
  /*   position: absolute;
  top: 30px;
  right: 30px; */
  padding: 0 20px;
  margin-top: 2em;
  /*   padding-right: 10px; */
  width: 100%;
  height: auto;
  background-color: transparent;
  color: white;
}

.InfoList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.infoItem {
  font-size: 1em;
  font-weight: 500;
  padding: 5px 15px;
  margin: 5px auto;
  /*   border-radius: 25px; */
  transition: all ease-in-out 0.24s;
  -webkit-transition: all ease-in-out 0.24s;
  /*   border-bottom: 1px solid white; */
  transform-style: preserve-3d;
}

.infoItem:hover {
  transform: translateX(20px) perspective(200px);

  -webkit-transform: translateX(20px) perspective(200px);
}

.value {
  float: right;
  font-size: 17px;
}

/* clock */
body {
  background: black;
}

.clock {
  position: absolute;
  top: 70%;
  left: 65%;
  transform: translateX(-50%) translateY(-50%);
  color: #17d4fe;
  font-size: 30px;
  font-family: Orbitron;
  letter-spacing: 2px;
}
